#data-visualization {
  padding-bottom: 75px;
  font-family: sans-serif;
}

h4 {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 0;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 500px) {
  #data-visualization {
    padding-bottom: 50px;
  }
}
